/* Import Font from Google Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --bg-color: rgba(217, 255, 217, 0.9);
    --soft-color: rgb(116, 228, 135);
    --darker-color: rgb(0, 146, 24);
    --tag-bg-color: rgb(198, 255, 190);
    --tag-active-bg-color: rgb(133, 255, 52);
    --result-area-bg-color: rgba(145, 228, 159, 0.9);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection{
    background: rgb(49, 223, 90);
}

body{
    background: var(--bg-color);
    font-family: "Noto Serif TC";
    overflow-x: hidden;
    overflow-y: auto;
}

.form-container{
    position: absolute;
    opacity: 1;
    /* height: 0;
    overflow: hidden; */
    width: 100vw;
    background: var(--bg-color);
    z-index: 2;
    transition: opacity 0.5s linear;
}

/* Part A: Start Position */
.form-container > .part-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.part-one > .input-field{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-field > .locate{
    font-size: 24px;
    cursor: pointer;
}

.input-field > .locate:hover{
    color: var(--darker-color);
}

.local-save-field{
    display: flex;
    margin: 3px 0;
    align-items: center;
    justify-content: flex-start;
}

.local-save-field > label{
    padding-left: 5px;
}

.local-save-field > input[type="checkbox"]{
    width: 16px;
    height: 16px;
}

#autocomplete{
    width: 85vw;
    max-width: 1000px;
    background: inherit;
    border: 2px solid var(--darker-color);
    padding: 3px 5px;
    margin-right: 5px;
    font-family: inherit;
}

/* Part B: Select target facilities type */
.form-container > .part-two{
    background: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.places-type{
    position: relative;
    margin: 15px 0;
}

.places-head{
    width: 90vw;
    height: 30px;
    padding: 3px 8px;
    background-color: var(--darker-color);
    color: rgb(209, 255, 203);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

.part-two [type="checkbox"]{
    /* A hidden checkbox to expand & hide the place menu */
    position: absolute;
    top: 0;
    width: 90vw;
    height: 30px;
    opacity: 0;
    cursor: pointer;
}

.places-menu{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    max-height: 0px;
    width: 90vw;
    overflow: hidden;
    background-color: var(--soft-color);
    transition: max-height 0.35s ease;
}

.places{
    height: 35px;
    padding: 0 10px;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid var(--darker-color);
    background-color: var(--tag-bg-color);
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    user-select: none;
}

.places.active{
    background-color: var(--tag-active-bg-color);
}


/* Loading circle to display when fetching data */
.loading::before{
    /* Loading circle */
    content: "";
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-top: 5px solid rgb(55, 168, 10);
    border-left: 5px solid rgba(214, 214, 214, 0.8);
    border-right: 5px solid rgba(214, 214, 214, 0.8);
    border-bottom: 5px solid rgba(214, 214, 214, 0.8);

    animation: loadingAnimation 1.2s linear infinite;
}

.loading{
    /* The Overlay & position handler */
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 250px;
}

.loading::after{
    /* The loading text */
    content: "";
    position: absolute;
    top: calc(50% + 30px);
    left: calc(50% - 32px);
    text-align: center;

    animation: loadingText 1s linear infinite;
}

@keyframes loadingAnimation {
    0%{
        transform: rotate(0deg);
    }
    30%{
        transform: rotate(90deg);
    }
    66%{
        transform: rotate(200deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes loadingText {
    0%{
        content: "Loading";
    }
    33%{
        content: "Loading.";
    }
    66%{
        content: "Loading..";
    }
    100%{
        content: "Loading...";
    }
}

/* The submit button */
#search{
    position: fixed;
    bottom: 15px;
    right: 20px;
    background: inherit;
    font-family: inherit;
    color: var(--darker-color);
    border: 3px solid var(--darker-color);
    border-radius: 5px;
    padding: 10px 50px;
    z-index: 20;
    transition: all ease 0.5s;
}

#search.hidden{
    right: -200px;
}

#search:active{ transform: scale(0.97); }




/* The map & result area */
.ui-container{
    width: 100vw;
    height: 100vh;
    display: flex;
}

#map{
    width: 100%;
    height: 100%;
    flex: 7;
}

.map-marker{
    position: relative;
    top: -40px;
    font-weight: 700;
    background: #eee;
}

#result-area{
    height: 100vh;
    background-color: var(--result-area-bg-color);
    overflow: auto;
    flex: 3;
}

.view-toggle{
    display: none;
}

.status{
    text-align: center;
    padding-top: 5px;
    font-size: 26px;
}

.result{
    padding: 10px;
    border-top: 1px solid var(--darker-color);
}

.result > *{
    margin: 5px 0;
}

.result-name{
    font-size: 20px;
}

.result-address{
    color: #444;
    font-size: 12px;
}

.result i{
    padding-right: 5px;
    font-size: 18px;
    color: var(--darker-color);
}

.result-name ~ *{
    padding-left: 10px;
}

.result-toolbar{
    display: flex;
}

.result-toolbar > *{
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border: 2px solid var(--darker-color);
    border-radius: 5px;
    cursor: pointer;
}

.result-toolbar > *:active{
    transform: scale(0.97);
}

.result-action{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    color: var(--darker-color);
    cursor: pointer;
}

.result-action > span {
    border: 2px solid var(--darker-color);
    border-radius: 5px;
    margin: 10px;
    padding: 3px 5px;
}

.result-action > span:active {
    transform: scale(0.97);
}

@media(max-width: 1060px){
    .result-toolbar{
        flex-direction: column;
        margin-right: 5px;
    }
}

@media(max-width: 800px){
    #map{
        flex: 5;
    }

    .result-action > span {
        padding: 3px;
        font-size: 16px;
    }
}

@media (max-width: 650px){
    #result-area{
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: auto;
        max-height: 90vh;
        overflow: auto;
        transition: max-height 0.3s linear;
    }

    #result-area.hidden{
        max-height: 24px;
    }

    .status{
        margin-top: 24px;
    }

    .view-toggle{
        display: block;
        position: absolute;
        top: 0px;
        left: 50vw;
        transform: translate(-50%,0px);
        width: 200px;
        height: 24px;
        background-color: var(--darker-color);
        text-align: center;
        color: white;
        cursor: pointer;
        z-index: 5;
    }

    .result-address{
        font-size: 14px;
    }

    .result-toolbar{
        flex-direction: row;
    }

    .result-action > span {
        padding: 3px 10px;
        font-size: 18px;
    }

    .places-menu{
        justify-content: space-around;
    }
}